openapi: 3.2.0
info:
  title: Cvent Passkey RegLink REST Authentication Reservation Requests API
  version: v1
  description: 'Cvent Hospitality Cloud / Passkey RegLink REST API. Connects external

    systems to Passkey events and hotel reservation data so that

    registration platforms can pass attendee information to Passkey,

    look up event and hotel availability, and create, modify, or cancel

    individual reservation requests.


    Best-effort spec derived from the Cvent developer portal

    (https://developers.cvent.com/docs/passkey/REST/overview and

    /docs/passkey/REST/getting-started). Refer to the developer portal

    for the authoritative reference.

    '
  contact:
    name: Cvent Developer Portal
    url: https://developers.cvent.com/docs/passkey/REST/overview
  license:
    name: Proprietary
servers:
- url: https://api-platform.cvent.com/reglink/v1
  description: Cvent Passkey RegLink (US/global)
- url: https://api-platform-eur.cvent.com/reglink/v1
  description: Cvent Passkey RegLink (EMEA)
security:
- OAuth2ClientCredentials: []
tags:
- name: ReservationRequests
paths:
  /reservationRequests:
    post:
      tags:
      - ReservationRequests
      summary: Create a reservation request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationRequest'
      responses:
        '201':
          description: Reservation request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationRequest'
  /reservationRequests/{reservationRequestId}:
    parameters:
    - in: path
      name: reservationRequestId
      required: true
      schema:
        type: string
    get:
      tags:
      - ReservationRequests
      summary: Retrieve a reservation request
      responses:
        '200':
          description: Reservation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationRequest'
    put:
      tags:
      - ReservationRequests
      summary: Modify a reservation request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReservationRequest'
      responses:
        '200':
          description: Modified reservation request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationRequest'
    delete:
      tags:
      - ReservationRequests
      summary: Cancel a reservation request
      responses:
        '204':
          description: Reservation request cancelled
components:
  schemas:
    ReservationRequest:
      type: object
      properties:
        id:
          type: string
        passkeyEventId:
          type: string
        hotelId:
          type: string
        roomTypeId:
          type: string
        checkInDate:
          type: string
          format: date
        checkOutDate:
          type: string
          format: date
        guest:
          type: object
          properties:
            firstName:
              type: string
            lastName:
              type: string
            email:
              type: string
              format: email
            phone:
              type: string
        status:
          type: string
          enum:
          - PENDING
          - CONFIRMED
          - CANCELLED
        confirmationNumber:
          type: string
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/reglink/v1/authentication/token
          scopes:
            passkey:read: Read Passkey events, hotels, room types, reservations
            passkey:write: Create and modify reservation requests
    BasicAuth:
      type: http
      scheme: basic
externalDocs:
  description: Cvent Passkey RegLink documentation
  url: https://developers.cvent.com/docs/passkey/REST/overview
