openapi: 3.1.0
info:
  title: Cvent Passkey RegLink REST API
  version: v1
  description: |
    Cvent Hospitality Cloud / Passkey RegLink REST API. Connects external
    systems to Passkey events and hotel reservation data so that
    registration platforms can pass attendee information to Passkey,
    look up event and hotel availability, and create, modify, or cancel
    individual reservation requests.

    Best-effort spec derived from the Cvent developer portal
    (https://developers.cvent.com/docs/passkey/REST/overview and
    /docs/passkey/REST/getting-started). Refer to the developer portal
    for the authoritative reference.
  contact:
    name: Cvent Developer Portal
    url: https://developers.cvent.com/docs/passkey/REST/overview
  license:
    name: Proprietary
externalDocs:
  description: Cvent Passkey RegLink documentation
  url: https://developers.cvent.com/docs/passkey/REST/overview
servers:
  - url: https://api-platform.cvent.com/reglink/v1
    description: Cvent Passkey RegLink (US/global)
  - url: https://api-platform-eur.cvent.com/reglink/v1
    description: Cvent Passkey RegLink (EMEA)
security:
  - OAuth2ClientCredentials: []
tags:
  - name: Authentication
  - name: Events
  - name: Hotels
  - name: RoomTypes
  - name: Connections
  - name: ReservationRequests
paths:
  /authentication/token:
    post:
      tags: [Authentication]
      summary: Issue a Passkey access token
      description: |
        Exchange client credentials (API key/secret issued from the Cvent
        Passkey portal) for an access token that authorises subsequent
        RegLink requests.
      security:
        - BasicAuth: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type: { type: string, enum: [client_credentials] }
      responses:
        '200':
          description: Token issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccessToken' }
  /events:
    get:
      tags: [Events]
      summary: List Passkey events
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Events
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PassEvent' }
  /events/{eventId}:
    parameters:
      - in: path
        name: eventId
        required: true
        schema: { type: string }
    get:
      tags: [Events]
      summary: Get Passkey event detail
      responses:
        '200':
          description: Event detail
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PassEvent' }
  /events/{eventId}/hotels:
    parameters:
      - in: path
        name: eventId
        required: true
        schema: { type: string }
    get:
      tags: [Hotels]
      summary: List hotels participating in an event
      responses:
        '200':
          description: Hotels
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Hotel' }
  /hotels/{hotelId}/roomTypes:
    parameters:
      - in: path
        name: hotelId
        required: true
        schema: { type: string }
    get:
      tags: [RoomTypes]
      summary: List room types for a hotel
      responses:
        '200':
          description: Room types
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/RoomType' }
  /connections:
    post:
      tags: [Connections]
      summary: Create a RegLink connection between Cvent Registration and Passkey
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Connection' }
      responses:
        '201':
          description: Connection created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Connection' }
  /reservationRequests:
    post:
      tags: [ReservationRequests]
      summary: Create a reservation request
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReservationRequest' }
      responses:
        '201':
          description: Reservation request created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReservationRequest' }
  /reservationRequests/{reservationRequestId}:
    parameters:
      - in: path
        name: reservationRequestId
        required: true
        schema: { type: string }
    get:
      tags: [ReservationRequests]
      summary: Retrieve a reservation request
      responses:
        '200':
          description: Reservation request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReservationRequest' }
    put:
      tags: [ReservationRequests]
      summary: Modify a reservation request
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ReservationRequest' }
      responses:
        '200':
          description: Modified reservation request
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReservationRequest' }
    delete:
      tags: [ReservationRequests]
      summary: Cancel a reservation request
      responses:
        '204':
          description: Reservation request cancelled
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api-platform.cvent.com/reglink/v1/authentication/token
          scopes:
            passkey:read: Read Passkey events, hotels, room types, reservations
            passkey:write: Create and modify reservation requests
    BasicAuth:
      type: http
      scheme: basic
  parameters:
    Limit:
      in: query
      name: limit
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    Offset:
      in: query
      name: offset
      schema: { type: integer, minimum: 0, default: 0 }
  schemas:
    AccessToken:
      type: object
      properties:
        access_token: { type: string }
        token_type: { type: string, example: Bearer }
        expires_in: { type: integer }
    PassEvent:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        startDate: { type: string, format: date }
        endDate: { type: string, format: date }
        cutoffDate: { type: string, format: date }
        status: { type: string }
    Hotel:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        chainCode: { type: string }
        address:
          type: object
          properties:
            line1: { type: string }
            city: { type: string }
            state: { type: string }
            postalCode: { type: string }
            countryCode: { type: string }
    RoomType:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        bedType: { type: string }
        maxOccupancy: { type: integer }
        rate:
          type: object
          properties:
            amount: { type: number, format: float }
            currency: { type: string }
    Connection:
      type: object
      properties:
        id: { type: string }
        passkeyEventId: { type: string }
        cventEventId: { type: string }
        status: { type: string }
    ReservationRequest:
      type: object
      properties:
        id: { type: string }
        passkeyEventId: { type: string }
        hotelId: { type: string }
        roomTypeId: { type: string }
        checkInDate: { type: string, format: date }
        checkOutDate: { type: string, format: date }
        guest:
          type: object
          properties:
            firstName: { type: string }
            lastName: { type: string }
            email: { type: string, format: email }
            phone: { type: string }
        status:
          type: string
          enum: [PENDING, CONFIRMED, CANCELLED]
        confirmationNumber: { type: string }
